.atom-7456f3eb-0882-454a-a1dc-e3078dda7f34 {
  animation: load8 600ms infinite linear;
  border-bottom: .75rem solid rgba(0, 0, 0, .2);
  border-left: .75rem solid crimson;
  border-radius: 50%;
  border-right: .75rem solid rgba(0, 0, 0, .2);
  border-top: .75rem solid rgba(0, 0, 0, .2);
  font-size: 10px;
  height: 4rem;
  left: calc(50% - 2rem);
  position: absolute;
  text-indent: -9999em;
  top: calc(50% - 2rem);
  transform: translateZ(0);
  width: 4rem;

  &::after {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
