.org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
  padding: .75rem 1.5rem 6rem;

  .post {
    &.sticky {
      h2 {
        &::after {
          color: orange;
          content: 'STICKY';
          font-size: 1rem;
          left: 1.5rem;
          margin-top: -1.5rem;
          position: absolute;
          vertical-align: super;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      margin-bottom: 1.5rem;
      padding-bottom: .75rem;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  time {
    color: crimson;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
  }
}
