body,
html {
  background:
  radial-gradient(#ddd 15%, transparent 16%) 0 0,
  radial-gradient(#ddd 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #eee;
  background-size: 16px 16px;
  color: #333;
  font-family: 'Nixie One', serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  box-shadow: inset 0 -5rem 6rem rgba(0, 0, 0, .1)
}

#root {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  transform: translateX(0);
  transition: all 300ms ease-in;

  &:hover {
    color: inherit;
    opacity: .6;
    transform: translateX(.75rem);
  }
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}